* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    height: 100vh;
    width: 100%;
}


.page-wrapper {
    background: #005C69;
}


#page-header {
    height: 9%;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

    
}

.main-content {
    height: 88%;
    width: 100%;
    display: flex;
    
}

.gauntlet-section {
    width: 45%;
    height: 100%;
    display: inline-block;
    padding: 20px;
    background: #5E0035;
}

.thanos-box {
    margin-left: 120px;
    margin-top: 50px;
    width: 100%;
}

.thanos-img {
    height: 100%;
    transform: scale(0.4)
}

.thanos-and-gauntlet-wrapper {
    height: 80%;
    width: 40%;
    display: flex;
}

p {
    font-family: 'Oswald', sans-serif;

}

.upgrade-section {
    width: 55%;
    background: #023618;
}

.clicker-wrapper__description {
    padding: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 33px;
}

.click {
    background: url(img/gauntlet.png);
    background-size: cover;
    background-position: 50%;
    height: 360px;
    width: 200px;
    border: none;
    margin: 160px 0 200px 0;
    opacity: 0.8;
    
}

.click:hover {
    opacity: 1;
    cursor: pointer;
}

.counter {
    font-size: 40px;
    position: absolute;
    left: 34%
}